@charset "UTF-8";
/* svn相对地址 */
/* 项目下建立文本或者其他说明 本产品的产品及其对接的相关人员 */
/*  re+tab*/
/**
* Description: base style 
* Developers: pinghai@leju.com
**/
/**, *:before, *:after {box-sizing: border-box;}*/
body {
  font-family: sans-serif,-apple-system;
  font-size: 12px;
  color: #444;
  background-color: #fff;
  /*-webkit-user-select: none;*/
  -webkit-text-size-adjust: none; }

body, div, dl, dt, dd, del, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td, figure {
  margin: 0;
  padding: 0; }

input[type="text"], input[type="number"], input[type="password"], input[type="submit"], input[type="button"], textarea {
  -webkit-appearance: none;
  outline-style: none;
  resize: none;
  border: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

fieldset, img {
  border: 0; }

address, caption, cite, code, dfn, em, th, var {
  font-style: normal;
  font-weight: normal; }

ol, ul {
  list-style: none; }

caption, th {
  text-align: left; }

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
  font-style: normal; }

q:before, q:after {
  content: ''; }

abbr, acronym {
  border: 0; }

header, section {
  display: block;
  margin: 0;
  padding: 0; }

a {
  text-decoration: none;
  color: inherit; }

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
  font-size: 0; }

.unl {
  text-decoration: underline; }

.tl {
  text-align: left; }

.tc {
  text-align: center; }

.tr {
  text-align: right; }

.bc {
  margin-left: auto;
  margin-right: auto; }

.fl {
  float: left; }

.fr {
  float: right; }

.vm {
  vertical-align: middle; }

.vt {
  vertical-align: top; }

.pr {
  position: relative; }

.pa {
  position: absolute; }

.none {
  display: none !important; }

#editHTML {
  overflow: hidden;
  line-height: 1.2rem;
  font-size: 0.72rem;
  color: #3e4145;
  clear: both; }
  #editHTML * {
    max-width: 100% !important;
    -moz-box-sizing: border-box !important;
         box-sizing: border-box !important;
    -webkit-box-sizing: border-box !important;
    word-wrap: break-word !important; }
  #editHTML ol {
    padding-left: 20px;
    list-style-type: decimal; }
    #editHTML ol li {
      list-style-type: decimal; }
  #editHTML ul {
    padding-left: 20px;
    list-style-type: disc; }
    #editHTML ul li {
      list-style-type: disc; }
  #editHTML em {
    font-style: italic; }
  #editHTML p {
    clear: both; }
  #editHTML img {
    max-width: 100% !important;
    height: 100% !important; }
  #editHTML h1 {
    margin-top: 0 !important; }

.rotate::after {
  -webkit-transform: rotate(180deg);
     -moz-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  -moz-transition: all 1s;
  transition: all 1s; }

.norotate::after {
  -webkit-transform: rotate(0deg);
     -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  -moz-transition: all 1s;
  transition: all 1s; }

/* res.leju.com/resources/rem.js */
.sprite-index, .sprite-index-l_bl, .wy_beautylife_wrap .wy_ctr_wrap .wy_ctr_lb .wy_ctr_lb_1, .sprite-index-ok_stat, .wy_beautylife_wrap .wy_ctr_wrap .wy_ctr_rb .wy_ctr_rb_2:after, .sprite-index-r_bl, .wy_beautylife_wrap .wy_ctr_wrap .wy_ctr_rb .wy_ctr_rb_1 {
  background-image: url(images/sprites-index.ea62faef141ea5ca590245b7a70ac797.png);
  background-repeat: no-repeat;
  -moz-background-size: 3.42rem auto;
       background-size: 3.42rem auto; }

.sprite-index-l_bl, .wy_beautylife_wrap .wy_ctr_wrap .wy_ctr_lb .wy_ctr_lb_1 {
  width: 2.02rem;
  height: 2.36rem;
  background-position: 0.08rem 0.08rem; }

.sprite-index-ok_stat, .wy_beautylife_wrap .wy_ctr_wrap .wy_ctr_rb .wy_ctr_rb_2:after {
  width: 1.12rem;
  height: 1.12rem;
  background-position: 0.08rem -2.28rem; }

.sprite-index-r_bl, .wy_beautylife_wrap .wy_ctr_wrap .wy_ctr_rb .wy_ctr_rb_1 {
  width: 1.56rem;
  height: 2.36rem;
  background-position: -1.94rem 0.08rem; }

body {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; }

.wy_beautylife_wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url(images/static-index-bg.48ef90113422121ef58dbaf02fe85d60.png), -webkit-gradient(linear, left top, left bottom, from(#468bf0), color-stop(29%, #4f91ef), to(#5291ec));
  background-image: url(images/static-index-bg.48ef90113422121ef58dbaf02fe85d60.png), -webkit-linear-gradient(top, #468bf0 0%, #4f91ef 29%, #5291ec 100%);
  background-image: url(images/static-index-bg.48ef90113422121ef58dbaf02fe85d60.png), -moz-linear-gradient(top, #468bf0 0%, #4f91ef 29%, #5291ec 100%);
  background-image: url(images/static-index-bg.48ef90113422121ef58dbaf02fe85d60.png), -o-linear-gradient(top, #468bf0 0%, #4f91ef 29%, #5291ec 100%);
  background-image: url(images/static-index-bg.48ef90113422121ef58dbaf02fe85d60.png), linear-gradient(180deg, #468bf0 0%, #4f91ef 29%, #5291ec 100%);
  background-position: top center;
  background-repeat: no-repeat;
  -moz-background-size: contain;
       background-size: contain; }
  .wy_beautylife_wrap .wy_show_wrap {
    width: 13.8rem;
    height: 6.84rem;
    margin: 5.14rem auto 0 auto;
    position: relative; }
    .wy_beautylife_wrap .wy_show_wrap .wy_svg_wrap {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: 9; }
    .wy_beautylife_wrap .wy_show_wrap .wy_svg_bg {
      width: 100%;
      height: 100%;
      -webkit-box-sizing: border-box;
         -moz-box-sizing: border-box;
              box-sizing: border-box;
      padding: 1px; }
      .wy_beautylife_wrap .wy_show_wrap .wy_svg_bg img {
        width: 100%;
        height: 100%; }
  .wy_beautylife_wrap .wy_ctr_wrap {
    position: relative;
    margin-top: 3.68rem;
    -webkit-border-radius: 0.4rem;
       -moz-border-radius: 0.4rem;
            border-radius: 0.4rem;
    border: 5px solid rgba(0, 0, 0, 0.14);
    background: #fff;
    background-clip: content-box;
    width: 13rem;
    overflow: hidden;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    overflow: hidden; }
    .wy_beautylife_wrap .wy_ctr_wrap.ready_wrap:after {
      position: absolute;
      left: 0%;
      top: 0%;
      width: 100%;
      height: 100%;
      background: black;
      opacity: 0.14;
      content: ''; }
    .wy_beautylife_wrap .wy_ctr_wrap .wy_ctr_lb {
      position: absolute;
      left: 0;
      top: 0;
      z-index: 3; }
      .wy_beautylife_wrap .wy_ctr_wrap .wy_ctr_lb .wy_ctr_lb_1 {
        -webkit-transform: translate(-0.08rem, -0.08rem);
           -moz-transform: translate(-0.08rem, -0.08rem);
            -ms-transform: translate(-0.08rem, -0.08rem);
                transform: translate(-0.08rem, -0.08rem); }
    .wy_beautylife_wrap .wy_ctr_wrap .wy_ctr_rb {
      position: absolute;
      right: 0;
      top: 0;
      z-index: 3; }
      .wy_beautylife_wrap .wy_ctr_wrap .wy_ctr_rb .wy_ctr_rb_1 {
        -webkit-transform: translate(0.08rem, -0.08rem);
           -moz-transform: translate(0.08rem, -0.08rem);
            -ms-transform: translate(0.08rem, -0.08rem);
                transform: translate(0.08rem, -0.08rem); }
      .wy_beautylife_wrap .wy_ctr_wrap .wy_ctr_rb .wy_ctr_rb_2 {
        position: absolute;
        right: 0;
        top: 0;
        height: 2.2rem;
        width: 2.6rem;
        background: -webkit-gradient(linear, left top, left bottom, from(#8732f7), to(#471389));
        background: -webkit-linear-gradient(top, #8732f7 0%, #471389 100%);
        background: -moz-linear-gradient(top, #8732f7 0%, #471389 100%);
        background: -o-linear-gradient(top, #8732f7 0%, #471389 100%);
        background: linear-gradient(180deg, #8732f7 0%, #471389 100%);
        z-index: 2;
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
           -moz-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
           -moz-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-border-radius: 0.24rem;
           -moz-border-radius: 0.24rem;
                border-radius: 0.24rem; }
        .wy_beautylife_wrap .wy_ctr_wrap .wy_ctr_rb .wy_ctr_rb_2:after {
          content: '';
          display: block; }
    .wy_beautylife_wrap .wy_ctr_wrap .wy_ctr_cb p {
      width: 12.6rem;
      height: 2.2rem;
      -webkit-box-sizing: border-box;
         -moz-box-sizing: border-box;
              box-sizing: border-box;
      color: #7b2ce2;
      font-size: 0.7rem;
      line-height: 2.2rem;
      font-weight: 500; }
      .wy_beautylife_wrap .wy_ctr_wrap .wy_ctr_cb p.ready {
        text-align: center;
        background-image: -webkit-linear-gradient(left, #fff, #7B2CE2, #fff, #7B2CE2, #fff);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        -webkit-animation: masked-animation 2s infinite linear;
        -webkit-background-size: 200% 100%; }
      .wy_beautylife_wrap .wy_ctr_wrap .wy_ctr_cb p.ok {
        padding-left: 0.72rem; }

@-webkit-keyframes masked-animation {
  0% {
    background-position: 0 0; }
  100% {
    background-position: -100% 0; } }

.body {
  border: 1px solid #000;
  margin: 0 auto; }

.icons--grass {
  padding: 0;
  margin: 0; }

.image {
  width: 692px;
  height: 343px; }

.img {
  position: absolute;
  left: 0;
  top: 0; }

.img img {
  vertical-align: bottom; }

.wrapper {
  width: 13.8rem;
  height: 6.84rem;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 9;
  overflow: hidden; }


/*# sourceMappingURL=styles.css.map*/